/* BODY */
.body {
    position: relative;
    padding: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-bottom: 30px;
}
/* .body .introduction */
.body .introduction {
    position: relative;
    width: 100%;
    height: fit-content;
}
.introduction .intro-img {
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.introduction .intro-brief {
    position: relative;
    width: 100%;
    background-color: rgba(253,216,53,1);
    padding: 30px 8px;
    font-size: 22pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    text-align: justify;
    text-indent: 1rem;
}

/* .body .content */
.body .body-content {
    position: relative;
    height: fit-content;
    background-color: white;
}
.body .content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}
.content hr {
    position: relative;
    margin-top: 40px;
}
/* .content .intro */
.content .intro-content {
    position: relative;
    width: 100%;
    height: fit-content;
}
.content .committee {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
}
.content .committee p {
    position: relative;
    width: 100%;
    height: 80px;
    margin: 20px 0px;
    text-align: center;
    padding: 20px 0px;
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
}
.content .committee .committee-img {
    position: relative;
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* .content .act */
.content .act {
    position: relative;
}
.act .act-title {
    position: relative;
    width: 100%;
    height: 80px;
    margin: 20px 0px;
    text-align: center;
    padding: 20px 0px;
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
}
.act .activities div {
    position: relative;
    padding: 0px;
}
.act .activities img {
    position: relative;
    padding: 0px 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.act .activities p {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    padding: 12px 0px;
}
/* .content .act-5k */
.content .act-5k {
    position: relative;
}
.act-5k .act-5k-title {
    position: relative;
    width: 100%;
    height: 120px;
    margin: 20px 0px;
    text-align: center;
    padding: 20px 0px;
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
}
.act-5k .act-5k-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-bottom: 40px;
}
.act-5k .act-5k-content img {
    position: relative;
    padding: 0px 20px;
    width: 100%;
    height: 100%;
    max-height: 266px;
    object-fit: cover;
}
.act-5k .activities-5k p {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 12pt;
    text-align: center;
    padding: 12px 0px;
}
/* .content .act-child */
.content .act-child {
    position: relative;
}
.act-child .activities-child {
    position: relative;
    width: 100%;
}
.act-child .act-child-title {
    position: relative;
    width: 100%;
    height: 80px;
    margin: 20px 0px;
    text-align: center;
    padding: 20px 0px;
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
}
.act-child .act-child-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-bottom: 40px;
}
.act-child .act-child-content img {
    position: relative;
    padding: 0px 20px;
    width: 100%;
    height: 100%;
    max-height: 266px;
    object-fit: cover;
}
.act-child .activities-child p {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 12pt;
    text-align: center;
    padding: 12px 0px;
}
/* .content .other-act */
.content .other-act {
    position: relative;
}
.other-act .other-activities {
    position: relative;
    width: 100%;
}
.other-act .other-act-title {
    position: relative;
    width: 100%;
    height: 80px;
    margin: 20px 0px;
    text-align: center;
    padding: 20px 0px;
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
}
.other-act .other-act-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-bottom: 40px;
}
.other-act .other-act-content img {
    position: relative;
    padding: 0px 20px;
    width: 100%;
    height: 100%;
    max-height: 266px;
    object-fit: cover;
}
.other-act .other-activities p {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 12pt;
    text-align: center;
    padding: 12px 0px;
}
/* .content .others */
.content .others {
    position: relative;
    padding: 0px;
    margin-top: 60px;
    height: fit-content;
}
.others img {
    position: relative;
    padding: 0px 20px;
}
.others p {
    position: relative;
    margin: 0px;
    margin-bottom: 16px !important;
    padding: 0px 20px !important;
    width: auto !important;
    font-size: 24pt !important;
    font-weight: bold;
    width: auto;
    text-align: center;
}

/* RESPONSVE */
@media only screen and (max-width: 992px) {
    .body .introduction .intro-brief p {
        font-size: 12pt;
        line-height: 1.6;
    }
    .others p {
        font-size: 16pt !important;
        margin: 0px !important;
    }
}