.body {
    margin: 0px;
    padding: 0px;
}
.body .schedule-bg {
    position: relative;
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.schedule-bg .fade-screen {
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
.schedule-bg span {
    position: relative;
    font-size: 36pt;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.body .schedule-content {
    position: relative;
    height: fit-content;
    min-height: calc(50vh + 160px);
    padding: 80px 0px;
    background-color: rgba(253,216,53,1);
}
.schedule-content > span {
    position: relative;
    height: 80px;
    padding: 20px 0px;
    font-size: 18pt;
    font-weight: bold;
}
.schedule-content .schedule-table {
    position: relative;
    padding: 10px;
    background-color: white;
    border-radius: 16px;
}
.schedule-content table {
    position: relative;
    margin: 0px;
}
.schedule-content table tr td:first-child {
    text-align: right;
    padding-left: 5px;
    padding-right: 40px;
    border: none;
    border-radius: 9px 0px 0px 9px;
    vertical-align: middle;
}
.schedule-content table tr td:first-child::after {
    content: " | ";
    position: relative;
    left: 20px;
}
.schedule-content table tr td:last-child {
    border: none;
    padding-right: 5px;
    border-radius: 0px 9px 9px 0px;
    vertical-align: middle;
}
.schedule-content table tr {
    font-size: 14pt;
}

/* REPONSIVE */
@media only screen and (max-width: 992px) {
    .schedule-bg span {
        font-size: 24pt;
    }
    .schedule-content > span {
        font-size: 14pt;
    }
    .schedule-content table tr td:first-child {
        padding-right: 10px;
    }
    .schedule-content table tr td:first-child::after {
        display: none;
    }
    .schedule-content table tr {
        font-size: 10pt;
    }
}